.input-boxes {

    display: inline-block;
    margin: 20px;

}

.input-boxes h2{

    display: block;

}

.input-boxes .fp-val {
    width: 325px;
}

.input-boxes .bit-val {
    width: 200px;
}

.input-boxes .dpoint-val {
    width: 100px;
}


.input-boxes input {

    background: rgb(31, 32, 35);
    border: 1px solid rgb(60, 63, 68);
    outline: solid whitesmoke;
    border-radius: 4px;
    font-size: 1.2rem;
    color: rgb(247, 248, 248);
    height: 46px;
    width: 100%;
    max-width: 500px;
    appearance: none;
    transition: border 0.15s ease 0s;
}

.input-boxes input::placeholder {
    color: rgba(245, 245, 245, 0.76);
}

.card {
    margin: 30px;
}

.container {
    padding: 0px;
   
}
.container h3{
    font-size: 1.2rem;
    margin: 10px;
}
